[user]
	email=elizaveta.kudryavtseva@idp.zyfra.com
	name=ElizavetaKudryavtsev
[alias]
	st = git status
	ci = git commit -am
	ga = git add
	tc = touch
	ps = git push
	mg = git merge
	ck = git checkout
	br = git branch
	pl = git pull
	ft = git fetch
	lg = git log
